.team {
    padding: 72px 20px 50px 20px;
    background-color: #fff;
}
.item_info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #333333;
}

.item_title {
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: #333333;
}

.gallery_list {
    display: grid;
    gap: 30px;
}

.gallery_list_img {
    max-height: 186px;
    max-width: 280px;

    margin-bottom: 16px;
}

.cases_item:nth-child(1) {
    padding-bottom: 16px;
}

.cases_item:nth-child(2) {
    padding-bottom: 24px;
}

.cases_list {
    margin-bottom: 63px;
}

.team_name{
    font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    
        color: #333333;

    margin-bottom: 8px;
}
.team_position{
    font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    text-align: center;
    color: #333333;
}