.cases{
    padding: 56px 20px 40px 20px;
    background-color: #fff;

    @media screen and (min-width:768px ) {
        padding:48px 32px 40px 32px;
    }
}
.cases_list{
    margin-bottom: 31px;
}
.cases_item:nth-child(1){
    padding-bottom: 16px;
}
.cases_item:nth-child(2) {
    padding-bottom: 24px;
}
.item_info{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
    color: #333333;
    @media screen and (min-width:768px){
        font-size: 18px;
        line-height: 25px;
    }
}
.item_title{
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #333333;
        @media screen and (min-width:768px){
            font-size: 40px;
            line-height: 54px;
        }
}
.gallery_list{
    display: grid;
    gap: 8px;
    @media screen and (min-width:768px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 18px;
        grid-row-gap: 18px;
    }
}
.gallery_list_img{
    max-height: 176px;
    min-width: 279px;
    max-width: 280px;

    @media screen and (min-width:768px){
        max-height: 148px;
        min-width: 223px;
        max-width: 223px;
    }
        @media screen and (min-width:1360px) {
            min-width: 421px;
            min-height: 282px;
        }
}