.header{
    position: fixed;
    display: flex;
    padding-left: 24px;
    padding-top: 22px;

    @media screen and (min-width:768px) {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 0px;
    }
        @media screen and (min-width:1360px){
            padding-left: 28px;
            padding-right: 28px;
        }
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width:768px){
        align-items: flex-start;
    }

}
.wrap_logo{
    @media screen and (min-width:768px) {
            :hover,
            :focus {
                transform: scale(1.08);
            }
    }
}
.logo{
    display: inline-flex;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;

    margin-bottom: 16px;

    @media screen and (min-width:768px){
        margin-bottom: 0px;
        padding-top: 23px;

        font-size: 35px;
        line-height: 48px;
            :hover,
            :focus {
                transform: scale(1.1);
            }
    }
    @media screen and (min-width:1360px){
        padding-top: 32px;
    }

}
.logo_name{
    color: #28A745;
    padding-right: 8px;
    
}
.logo_icon{
    min-width: 40px;
    min-height: 30px;

    padding-right: 8px;
}

.list{
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    row-gap: 12px;

    @media screen and (min-width:768px){
        margin-left: 167px;
        padding-top: 28px;

        font-size: 18px;
        line-height: 25px;
    }
        @media screen and (min-width:1360px){
            margin-left: 750px;
            padding-top: 48px;
        }
}
.list_item:not(:last-child){
    padding-right: 12px;
}
.list_link{
    @media screen and (min-width:768px) {
        padding-bottom: 8px;
    }
}
.list_link:hover,.list_link:focus{
    @media screen and (min-width:768px) {
        border-bottom: 4px solid #28A745;
    }
    border-bottom: 3px solid #28A745;
}